<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="gastgeber-filter-items">
    <f:for each="{items}" as="item">
        <li>
            <f:link.action action="list" arguments="{categories: item.linkCategories, view: viewMode}" class="gastgeber-filter-link {f:if(condition: item.active, then: 'is-active')}">
                <span class="gastgeber-filter-link__box" aria-hidden="true"></span>
                <f:render partial="Category/Icon" arguments="{presentation: item.presentation}" />
                <span>{item.title}</span>
            </f:link.action>
        </li>
    </f:for>
</ul>
</html>
