<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- GASTGEBER_LIST_FILTER_FEATURES_FINAL_2026_06_09:
     In der Card-/Kachelansicht werden die Hausmerkmale nicht mehr ausgegeben.
     In der echten Listenansicht bleiben sie als kompakte Zusatzinfos verfügbar. -->
<f:if condition="{viewMode} == 'list'">
  <f:if condition="{host.cardFeatures}">
    <ul class="gastgeber-feature-strip" aria-label="Wichtige Merkmale">
      <f:for each="{host.cardFeatures}" as="feature">
        <li title="{feature.title}">
          <span class="gastgeber-feature-strip__icon" aria-hidden="true"><f:render partial="Category/Icon" arguments="{item: feature}" /></span>
          <span class="gastgeber-feature-strip__label">{feature.title}</span>
        </li>
      </f:for>
    </ul>
  </f:if>
</f:if>
</html>
