<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<article class="gastgeber-card {f:if(condition:'{viewMode} == \'list\'', then:'gastgeber-card--list')}">
  <div class="gastgeber-card__media">
    <f:if condition="{host.firstMedia}">
      <f:then><f:image image="{host.firstMedia.originalResource}" class="gastgeber-card__image" width="740" height="420c" alt="{host.title}" /></f:then>
      <f:else><div class="gastgeber-card__placeholder">{host.title}</div></f:else>
    </f:if>
    <f:if condition="{host.certificates}">
      <div class="gastgeber-rating"><f:for each="{host.certificates}" as="certificate" iteration="i"><f:if condition="{i.isFirst}">{certificate.title}</f:if></f:for></div>
    </f:if>
  </div>
  <div class="gastgeber-card__body">
    <div class="gastgeber-card__meta"><f:if condition="{host.type}"><span class="gastgeber-badge">{host.type.title}</span></f:if><f:if condition="{host.district}"><span>{host.district.title}</span></f:if></div>
    <h3><f:link.action action="detail" arguments="{host:host}">{host.title}</f:link.action></h3>
    <f:if condition="{host.addressLine}"><p class="gastgeber-address">{host.addressLine}</p></f:if>
    <p>{host.teaser}</p>
    <f:render partial="List/FeatureStrip" arguments="{host:host}" />
    <div class="gastgeber-card__actions">
      <f:if condition="{host.website}"><f:link.typolink parameter="{host.website}" class="btn btn-primary">Direkt zur Webseite</f:link.typolink></f:if>
      <f:link.action action="detail" arguments="{host:host}" class="btn btn-outline-primary">Mehr Details</f:link.action>
    </div>
  </div>
</article>
</html>
