<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:gh="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers"
      data-namespace-typo3-fluid="true">
<article class="gastgeber-card {gh:currentView(value:viewMode, expected:'list', then:'gastgeber-card--list')}" data-gastgeber-card itemscope="itemscope" itemtype="https://schema.org/LodgingBusiness">
  <div class="gastgeber-card__media">
    <f:if condition="{settings.detailPid}">
      <f:then>
        <f:link.action action="detail" controller="Host" extensionName="Gastgeber" pluginName="Detail" pageUid="{settings.detailPid}" arguments="{host: host.uid}" title="{host.title}">
          <f:if condition="{host.firstMedia}">
            <f:then>
              <f:image image="{host.firstMedia.originalResource}" class="gastgeber-card__image" width="800" height="520c" alt="{host.title}" loading="lazy" />
            </f:then>
            <f:else>
              <div class="gastgeber-card__placeholder"><span>{host.title}</span></div>
            </f:else>
          </f:if>
        </f:link.action>
      </f:then>
      <f:else>
        <f:link.action action="detail" arguments="{host: host.uid}" title="{host.title}">
          <f:if condition="{host.firstMedia}">
            <f:then>
              <f:image image="{host.firstMedia.originalResource}" class="gastgeber-card__image" width="800" height="520c" alt="{host.title}" loading="lazy" />
            </f:then>
            <f:else>
              <div class="gastgeber-card__placeholder"><span>{host.title}</span></div>
            </f:else>
          </f:if>
        </f:link.action>
      </f:else>
    </f:if>
    <f:if condition="{host.hasStarRating}">
      <div class="gastgeber-gallery-hero__rating">
        <f:render partial="Host/RatingBadge" arguments="{host: host}" />
      </div>
    </f:if>
  </div>

  <div class="gastgeber-card__body">
    <div class="gastgeber-card__meta">
      <f:if condition="{host.type}">
        <span class="gastgeber-badge gastgeber-badge--type"><f:render partial="Category/Icon" arguments="{item: host.type}" /> {host.type.title}</span>
      </f:if>
      <f:if condition="{host.district}"><span class="gastgeber-card__district">{host.district.title}</span></f:if>
    </div>

    <h3 class="gastgeber-card__title" itemprop="name">
      <f:if condition="{settings.detailPid}">
        <f:then>
          <f:link.action action="detail" controller="Host" extensionName="Gastgeber" pluginName="Detail" pageUid="{settings.detailPid}" arguments="{host: host.uid}" itemprop="url">{host.title}</f:link.action>
        </f:then>
        <f:else>
          <f:link.action action="detail" arguments="{host: host.uid}" itemprop="url">{host.title}</f:link.action>
        </f:else>
      </f:if>
    </h3>


    <f:if condition="{host.teaser}">
      <div class="gastgeber-card__teaser" itemprop="description">
        <f:format.html>{host.teaser}</f:format.html>
      </div>
    </f:if>

    <f:render partial="List/FeatureStrip" arguments="{host: host, viewMode: viewMode}" />

    <div class="gastgeber-card__facts" aria-label="Kurzinfos">
      <f:if condition="{host.priceFrom}"><span>ab {host.priceFrom -> f:format.currency(currencySign:'€', decimalSeparator:',', thousandsSeparator:'.')}</span></f:if>
      <f:if condition="{host.beds}"><span>{host.beds} Betten</span></f:if>
      <f:if condition="{host.sizeSqm}"><span>{host.sizeSqm} m²</span></f:if>
    </div>

    <div class="gastgeber-card__actions">
      <f:if condition="{settings.detailPid}">
        <f:then>
          <f:link.action action="detail" controller="Host" extensionName="Gastgeber" pluginName="Detail" pageUid="{settings.detailPid}" arguments="{host: host.uid}" class="btn btn-primary">Details ansehen</f:link.action>
        </f:then>
        <f:else>
          <f:link.action action="detail" arguments="{host: host.uid}" class="btn btn-primary">Details ansehen</f:link.action>
        </f:else>
      </f:if>
      <f:if condition="{host.bookingUrl}"><f:link.typolink parameter="{host.bookingUrl}" class="btn btn-outline-primary" additionalAttributes="{rel:'noopener'}">Anfragen / Buchen</f:link.typolink></f:if>
    </div>
  </div>
</article>
</html>
