<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="gastgeber-view-switch" aria-label="Ansicht wählen">
    <span class="gastgeber-view-switch__label">Ansicht</span>
    <div class="gastgeber-view-switch__buttons">
        <f:link.action action="list" arguments="{view: 'cards', categories: activeCategories}" class="gastgeber-view-switch__button {g:currentView(value: viewMode, expected: 'cards')}">▦ Cards</f:link.action>
        <f:link.action action="list" arguments="{view: 'list', categories: activeCategories}" class="gastgeber-view-switch__button {g:currentView(value: viewMode, expected: 'list')}">☰ Liste</f:link.action>
        <f:link.action action="list" arguments="{view: 'map', categories: activeCategories}" class="gastgeber-view-switch__button {g:currentView(value: viewMode, expected: 'map')}">⌖ Karte</f:link.action>
    </div>
</div>
</html>
