<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{host}">
        <f:then>
            <article class="gastgeber-detail" itemscope="itemscope" itemtype="https://schema.org/LodgingBusiness">
                <f:render partial="Detail/Hero" arguments="{host: host, settings: settings}" />
                <f:render partial="Detail/TopFeatures" arguments="{host: host, settings: settings}" />
                <div class="gastgeber-detail__below-hero">
                    <div class="gastgeber-detail__main">
                        <f:render partial="Detail/MainContent" arguments="{host: host, settings: settings}" />
                    </div>
                    <aside class="gastgeber-detail__booking">
                        <f:render partial="Detail/ContactCard" arguments="{host: host, settings: settings}" />
                    </aside>
                </div>
                <f:render partial="Detail/Features" arguments="{host: host, settings: settings}" />
                <f:render partial="Detail/PriceCapacity" arguments="{host: host, settings: settings}" />
                <f:render partial="Map/Detail" arguments="{host: host, settings: settings}" />
                <f:render partial="Detail/GalleryModal" arguments="{host: host}" />
                <f:render partial="Detail/FeatureModal" arguments="{host: host}" />
            </article>
        </f:then>
        <f:else>
            <div class="alert alert-warning">Der Gastgeber konnte nicht gefunden werden.</div>
        </f:else>
    </f:if>
</f:section>
</html>
