<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{host}">
  <f:then>
    <article class="gastgeber-detail" itemscope="itemscope" itemtype="https://schema.org/LodgingBusiness">
      <header class="gastgeber-detail__header">
        <f:if condition="{host.type}"><div class="gastgeber-eyebrow">{host.type.title}</div></f:if>
        <h2 itemprop="name">{host.title}</h2>
      </header>
      <f:render partial="Detail/MediaHero" arguments="{host:host}" />
      <f:render partial="Detail/TopFeatures" arguments="{host:host}" />
      <div class="row g-4 mt-4">
        <main class="col-12 col-xl-8">
          <f:render partial="Detail/MainContent" arguments="{host:host}" />
          <f:render partial="Detail/Features" arguments="{host:host}" />
          <f:render partial="Detail/PriceCapacity" arguments="{host:host}" />
        </main>
        <aside class="col-12 col-xl-4">
          <f:render partial="Detail/ContactCard" arguments="{host:host}" />
        </aside>
      </div>
      <f:render partial="Map/Detail" arguments="{host:host, settings:settings}" />
      <f:render partial="Detail/GalleryModal" arguments="{host:host}" />
      <f:render partial="Detail/FeatureModal" arguments="{host:host}" />
      <f:if condition="{settings.listPid}"><f:link.page pageUid="{settings.listPid}" class="gastgeber-backlink">← Zurück zur Übersicht</f:link.page></f:if>
    </article>
  </f:then>
  <f:else><div class="alert alert-warning">Der Gastgeber wurde nicht gefunden.</div></f:else>
</f:if>
</f:section>
</html>
