<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">
    <f:if condition="{newsItem}">
        <f:then>
            <f:render partial="Detail/SeoMeta" arguments="{newsItem: newsItem, settings: settings}" />

            <article class="gastgeber-detail" itemscope="itemscope" itemtype="https://schema.org/LodgingBusiness">
                <f:render partial="Detail/Hero" arguments="{newsItem: newsItem, settings: settings}" />

                <div class="gastgeber-detail-layout row g-4 g-xl-5 align-items-start">
                    <div class="col-12 col-lg-8">
                        <div class="gastgeber-detail-content-stack d-grid gap-4 gap-lg-5">
                            <f:render partial="Detail/MainContent" arguments="{newsItem: newsItem, settings: settings}" />
                            <f:render partial="Detail/Features" arguments="{newsItem: newsItem, settings: settings}" />
                            <f:render partial="Detail/PriceCapacity" arguments="{newsItem: newsItem, settings: settings}" />
                        </div>
                    </div>
                    <aside class="col-12 col-lg-4">
                        <div class="gastgeber-detail-sidebar">
                            <f:render partial="Detail/ContactCard" arguments="{newsItem: newsItem, settings: settings}" />
                        </div>
                    </aside>
                </div>

                <f:if condition="{newsItem.txGastgeberShowOnMap}">
                    <f:if condition="{newsItem.txGastgeberLatitude}">
                        <f:if condition="{newsItem.txGastgeberLongitude}">
                            <f:render partial="Map/Detail" arguments="{newsItem: newsItem, settings: settings}" />
                        </f:if>
                    </f:if>
                </f:if>

                <f:render partial="Detail/BackLink" arguments="{settings: settings}" />
            </article>
        </f:then>
        <f:else>
            <div class="alert alert-warning"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:hostNotFound" /></div>
        </f:else>
    </f:if>
</f:section>
</html>
