<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:variable name="gastgeberView" value="{g:currentView(default: settings.gastgeber.defaultView, parameterName: settings.gastgeber.viewParameter)}" />

    <f:if condition="{settings.gastgeber.showViewSwitch}">
        <div class="gastgeber-toolbar d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-4">
            <div class="gastgeber-toolbar__summary small text-muted">
                <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:toolbar.resultView" />
            </div>
            <f:render partial="View/Switch" arguments="{pageUid: contentObjectData.pid, selectedView: gastgeberView}" />
        </div>
    </f:if>

    <f:if condition="{news}">
        <f:then>
            <div class="gastgeber-list news-list-view is-view-{gastgeberView}" id="news-container-{contentObjectData.uid}">
                <f:if condition="{gastgeberView} == 'map'">
                    <f:then>
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:render partial="Map/View" arguments="{items: news, settings: settings}" />
                            </f:then>
                            <f:else>
                                <f:render partial="Map/View" arguments="{items: pagination.paginator.paginatedItems, settings: settings}" />
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <div class="row g-4 gastgeber-list__items">
                            <f:if condition="{settings.hidePagination}">
                                <f:then>
                                    <f:for each="{news}" as="newsItem" iteration="iterator">
                                        <f:if condition="{gastgeberView} == 'list'">
                                            <f:then>
                                                <div class="col-12">
                                                    <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator, viewMode: 'list'}" />
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <div class="col-12 col-md-6 col-xl-4">
                                                    <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator, viewMode: 'cards'}" />
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:if condition="{gastgeberView} == 'list'">
                                            <f:then>
                                                <div class="col-12">
                                                    <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator, viewMode: 'list'}" />
                                                </div>
                                            </f:then>
                                            <f:else>
                                                <div class="col-12 col-md-6 col-xl-4">
                                                    <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator, viewMode: 'cards'}" />
                                                </div>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </f:else>
                            </f:if>
                        </div>
                    </f:else>
                </f:if>

                <f:if condition="{settings.hidePagination}">
                    <f:else>
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <div class="alert alert-info gastgeber-empty" role="status">
                <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:noHostsFound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
