<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:variable name="gastgeberView" value="{g:currentView(default: settings.gastgeber.defaultView, parameterName: settings.gastgeber.viewParameter)}" />

    <f:if condition="{settings.gastgeber.showIntegratedFilter}">
        <f:then>
            <f:variable name="gastgeberFilter" value="{g:filterData(rootCategoryUids: settings.gastgeber.filterRootCategoryUids, categoryConjunction: settings.gastgeber.filterCategoryConjunction, targetPid: contentObjectData.pid, showRootCategories: settings.gastgeber.filterShowRootCategories)}" />

            <div class="gastgeber-directory row g-4 g-xl-5 align-items-start">
                <div class="col-12 col-lg-4 col-xl-3">
                    <f:render partial="Filter/Sidebar" arguments="{categoryTree: gastgeberFilter.categoryTree, selectedCategoryCount: gastgeberFilter.selectedCategoryCount, targetPid: gastgeberFilter.targetPid, categoryConjunction: gastgeberFilter.categoryConjunction, headline: settings.gastgeber.filterHeadline, introText: settings.gastgeber.filterIntroText, resetLabel: settings.gastgeber.filterResetLabel, showRootCategories: gastgeberFilter.showRootCategories, selectedView: gastgeberView}" />
                </div>

                <div class="col-12 col-lg-8 col-xl-9">
                    <f:if condition="{settings.gastgeber.showViewSwitch}">
                        <div class="gastgeber-toolbar gastgeber-results-header card border-0 shadow-sm mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-3">
                                    <div>
                                        <p class="gastgeber-filter__eyebrow gastgeber-results-header__eyebrow mb-2">
                                            <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:toolbar.eyebrow" />
                                        </p>
                                        <h2 class="h3 gastgeber-filter__headline gastgeber-results-header__headline mb-0">
                                            <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:toolbar.resultView" />
                                        </h2>
                                    </div>
                                    <f:render partial="View/Switch" arguments="{pageUid: contentObjectData.pid, selectedView: gastgeberView}" />
                                </div>
                            </div>
                        </div>
                    </f:if>

                    <f:render partial="List/Results" arguments="{news: news, pagination: pagination, settings: settings, gastgeberView: gastgeberView, contentObjectData: contentObjectData}" />
                </div>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{settings.gastgeber.showViewSwitch}">
                <div class="gastgeber-toolbar gastgeber-results-header card border-0 shadow-sm mb-4">
                    <div class="card-body p-0">
                        <div class="gastgeber-results-header__hero p-4 p-lg-5">
                            <div class="row g-4 align-items-end">
                                <div class="col-12 col-lg">
                                    <p class="gastgeber-filter__eyebrow gastgeber-results-header__eyebrow mb-2">
                                        <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:toolbar.eyebrow" />
                                    </p>
                                    <h2 class="h3 gastgeber-filter__headline gastgeber-results-header__headline mb-0">
                                        <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:toolbar.resultView" />
                                    </h2>
                                </div>
                                <div class="col-12 col-lg-auto">
                                    <f:render partial="View/Switch" arguments="{pageUid: contentObjectData.pid, selectedView: gastgeberView}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
            <f:render partial="List/Results" arguments="{news: news, pagination: pagination, settings: settings, gastgeberView: gastgeberView, contentObjectData: contentObjectData}" />
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
