<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="presentation" value="{g:categoryPresentation(category: category)}" />
<f:if condition="{presentation.isRating}">
    <f:then>
        <span class="gastgeber-rating-badge" aria-label="{presentation.title}">
            <f:for each="{0:1,1:2,2:3,3:4,4:5}" as="i"><f:if condition="{i} &lt;= {presentation.ratingStars}">★</f:if></f:for>
        </span>
    </f:then>
    <f:else>
        <span class="gastgeber-category-badge"><f:render partial="Category/Icon" arguments="{presentation: presentation}" /> {presentation.title}</span>
    </f:else>
</f:if>
</html>
