<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{item.icon}">
  <f:then>
    <f:image image="{item.icon.originalResource}" class="gastgeber-icon-img" alt="" loading="lazy" />
  </f:then>
  <f:else>
    <f:if condition="{item.iconClass}">
      <f:then><span class="gastgeber-icon {item.iconClass}" aria-hidden="true"></span></f:then>
      <f:else><span class="gastgeber-icon gastgeber-icon--fallback" aria-hidden="true"></span></f:else>
    </f:if>
  </f:else>
</f:if>
</html>
