<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
<div class="gastgeber-filter-standalone">
  <f:if condition="{settings.headline}"><h2>{settings.headline}</h2></f:if>
  <f:if condition="{settings.introText}"><p>{settings.introText}</p></f:if>
  <form method="get" action="{f:uri.page(pageUid: settings.targetPid)}" class="gastgeber-filter-compact">
    <input type="search" name="tx_gastgeber_list[search]" placeholder="Name, Ort, Ausstattung ..." />
    <button type="submit" class="btn btn-primary">Gastgeber suchen</button>
  </form>
</div>
</f:section>
</html>
