<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="gastgeber-view-switch" aria-label="Darstellung auswählen">
    <span class="gastgeber-view-switch__label small text-muted me-2">
        <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.label" />
    </span>
    <div class="btn-group btn-group-sm" role="group" aria-label="Darstellung der Gastgeberliste">
        <f:if condition="{selectedView} == 'cards'">
            <f:then>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'cards'}" class="btn btn-primary">
                    <span aria-hidden="true">▦</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.cards" /></span>
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'cards'}" class="btn btn-outline-primary">
                    <span aria-hidden="true">▦</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.cards" /></span>
                </f:link.page>
            </f:else>
        </f:if>

        <f:if condition="{selectedView} == 'list'">
            <f:then>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'list'}" class="btn btn-primary">
                    <span aria-hidden="true">☰</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.list" /></span>
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'list'}" class="btn btn-outline-primary">
                    <span aria-hidden="true">☰</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.list" /></span>
                </f:link.page>
            </f:else>
        </f:if>

        <f:if condition="{selectedView} == 'map'">
            <f:then>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'map'}" class="btn btn-primary">
                    <span aria-hidden="true">⌖</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.map" /></span>
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{pageUid}" addQueryString="1" additionalParams="{tx_gastgeber_view: 'map'}" class="btn btn-outline-primary">
                    <span aria-hidden="true">⌖</span><span class="ms-1"><f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:viewSwitch.map" /></span>
                </f:link.page>
            </f:else>
        </f:if>
    </div>
</div>
</html>
