<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gh="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="mapMarkerIconUrl"><f:uri.resource path="Icons/map-marker.svg" extensionName="Gastgeber" /></f:variable>
<f:if condition="{settings.mapMarkerIconUrl}">
  <f:variable name="mapMarkerIconUrl" value="{settings.mapMarkerIconUrl}" />
</f:if>
<f:if condition="{host.hasCoordinates}">
  <section class="gastgeber-section gastgeber-map-section">
    <p class="gastgeber-eyebrow mb-1">Lage</p>
    <h3>Karte &amp; Anreise</h3>
    <f:if condition="{host.addressLine}"><p class="gastgeber-address">{host.addressLine}</p></f:if>
    <div class="gastgeber-map-wrap">
      <div class="gastgeber-map"
           data-gastgeber-map="1"
           data-lat="{host.latitude}"
           data-lng="{host.longitude}"
           data-zoom="{settings.mapZoom}"
           data-marker-icon-url="{mapMarkerIconUrl}"
           data-marker-icon-retina-url="{settings.mapMarkerIconRetinaUrl}"
           data-marker-shadow-url="{settings.mapMarkerShadowUrl}"
           data-marker-icon-width="{settings.mapMarkerIconWidth}"
           data-marker-icon-height="{settings.mapMarkerIconHeight}"
           data-marker-icon-anchor-x="{settings.mapMarkerIconAnchorX}"
           data-marker-icon-anchor-y="{settings.mapMarkerIconAnchorY}"
           data-marker-popup-anchor-x="{settings.mapMarkerPopupAnchorX}"
           data-marker-popup-anchor-y="{settings.mapMarkerPopupAnchorY}"
           data-marker-shadow-width="{settings.mapMarkerShadowWidth}"
           data-marker-shadow-height="{settings.mapMarkerShadowHeight}"
           data-marker-shadow-anchor-x="{settings.mapMarkerShadowAnchorX}"
           data-marker-shadow-anchor-y="{settings.mapMarkerShadowAnchorY}"></div>
      <script type="application/json" class="gastgeber-map-markers"><gh:mapMarkers host="{host}" /></script>
    </div>
  </section>
</f:if>
</html>
