<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">
    <nav class="gastgeber-category-filter mb-4" aria-label="Gastgeber filtern">
        <div class="d-flex flex-wrap gap-2">
            <f:link.page pageUid="{settings.listPid}" class="btn btn-outline-primary btn-sm">
                <f:translate key="LLL:EXT:gastgeber/Resources/Private/Language/locallang.xlf:allHosts" />
            </f:link.page>
            <f:render section="categoryTree" arguments="{categories: categories, overwriteDemand: overwriteDemand}" />
        </div>
    </nav>
</f:section>

<f:section name="categoryTree">
    <f:for each="{categories}" as="category">
        <n:multiCategoryLink.isCategoryActive list="{overwriteDemand.categories}" item="{category.item.uid}">
            <f:then>
                <f:link.page pageUid="{settings.listPid}" addQueryString="1" class="btn btn-primary btn-sm" additionalParams="{n:multiCategoryLink.arguments(mode:'remove', item: category.item.uid, list: overwriteDemand.categories)}">
                    {category.item.title}
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{settings.listPid}" addQueryString="1" class="btn btn-outline-primary btn-sm" additionalParams="{n:multiCategoryLink.arguments(mode:'add', item: category.item.uid, list: overwriteDemand.categories)}">
                    {category.item.title}
                </f:link.page>
            </f:else>
        </n:multiCategoryLink.isCategoryActive>
        <f:if condition="{category.children}">
            <f:render section="categoryTree" arguments="{categories: category.children, overwriteDemand: overwriteDemand}" />
        </f:if>
    </f:for>
</f:section>
</html>
