<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<li class="gastgeber-feature-item">
  <span class="gastgeber-feature-item__icon" aria-hidden="true">
    <f:render partial="Category/Icon" arguments="{item: feature}" />
  </span>
  <span class="gastgeber-feature-item__body">
    <span class="gastgeber-feature-item__title">{feature.title}</span>
    <f:if condition="{showDescription}">
      <f:if condition="{feature.description}">
        <span class="gastgeber-feature-item__description">{feature.description -> f:format.stripTags()}</span>
      </f:if>
    </f:if>
  </span>
</li>
</html>
