<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="features" value="{g:categoryGroup(categories: host.categories, mode: 'features')}" />
<section class="gastgeber-detail-section gastgeber-detail-section--full">
    <h3>Merkmale &amp; Ausstattung auf einen Blick</h3>
    <f:if condition="{features}">
        <ul class="gastgeber-feature-grid">
            <f:for each="{features}" as="item" iteration="iterator">
                <f:if condition="{iterator.index} &lt; {settings.visibleFeaturesLimit}">
                    <li><f:render partial="Category/Icon" arguments="{presentation: item.presentation}" /><span>{item.presentation.title}</span></li>
                </f:if>
            </f:for>
        </ul>
        <f:if condition="{features -> f:count()} &gt; {settings.visibleFeaturesLimit}">
            <button type="button" class="btn btn-outline-primary gastgeber-button gastgeber-button--outline" data-bs-toggle="modal" data-bs-target="#gastgeberFeatureModal-{host.uid}">☰ Alle Ausstattungsmerkmale anzeigen</button>
        </f:if>
    </f:if>
    <f:if condition="{host.equipmentText}"><div class="gastgeber-richtext mt-4"><f:format.html>{host.equipmentText}</f:format.html></div></f:if>
</section>
</html>
