<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="gastgeber-gallery-hero" aria-label="Bildergalerie von {host.title}">
  <div class="gastgeber-gallery-hero__main">
    <f:if condition="{host.firstMedia}">
      <f:then>
        <f:render partial="Detail/MediaItem" arguments="{media: host.firstMedia, host: host, class: 'gastgeber-gallery-hero__image', loading: 'eager', width: '1400', height: '760c'}" />
      </f:then>
      <f:else>
        <div class="gastgeber-gallery-hero__placeholder">
          <span>{host.title}</span>
        </div>
      </f:else>
    </f:if>

    <f:if condition="{host.hasStarRating}">
      <div class="gastgeber-gallery-hero__rating">
        <f:render partial="Host/RatingBadge" arguments="{host: host}" />
      </div>
    </f:if>
  </div>

  <f:if condition="{host.mediaCount} &gt; 1">
    <div class="gastgeber-gallery-hero__side" aria-hidden="true">
      <f:for each="{host.media}" as="media" iteration="mediaIterator">
        <f:if condition="{mediaIterator.index} &gt; 0">
          <f:if condition="{mediaIterator.index} &lt; 5">
            <figure class="gastgeber-gallery-hero__thumb-wrap mb-0">
              <f:render partial="Detail/MediaItem" arguments="{media: media, host: host, class: 'gastgeber-gallery-hero__thumb', loading: 'lazy', width: '640', height: '360c'}" />
            </figure>
          </f:if>
        </f:if>
      </f:for>
    </div>

    <button type="button" class="gastgeber-gallery-button" data-bs-toggle="modal" data-bs-target="#gastgeber-gallery-{host.uid}">
      <span class="gastgeber-gallery-button__icon" aria-hidden="true">▦</span>
      <span>Alle Bilder anzeigen</span>
    </button>
  </f:if>
</div>
</html>
