<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media.originalResource.type} == 4">
  <f:then>
    <video class="{class}" controls="controls" preload="metadata">
      <source src="{media.originalResource.publicUrl}" type="{media.originalResource.mimeType}" />
    </video>
  </f:then>
  <f:else>
    <f:image image="{media.originalResource}"
             class="{class}"
             title="{media.originalResource.title}"
             alt="{f:if(condition: media.originalResource.alternative, then: media.originalResource.alternative, else: host.title)}"
             loading="{loading}"
             width="{width}"
             height="{height}" />
  </f:else>
</f:if>
</html>
