<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="gastgeber-section">
  <h3>Preise &amp; Kapazität</h3>
  <dl class="gastgeber-facts">
    <f:if condition="{host.priceFrom}"><div><dt>Preis ab</dt><dd>{host.priceFrom -> f:format.currency(currencySign:'€', decimalSeparator:',', thousandsSeparator:'.')}</dd></div></f:if>
    <f:if condition="{host.persons}"><div><dt>Personen</dt><dd>{host.persons}</dd></div></f:if>
    <f:if condition="{host.bedrooms}"><div><dt>Schlafzimmer</dt><dd>{host.bedrooms}</dd></div></f:if>
    <f:if condition="{host.beds}"><div><dt>Betten</dt><dd>{host.beds}</dd></div></f:if>
    <f:if condition="{host.bathrooms}"><div><dt>Bäder</dt><dd>{host.bathrooms}</dd></div></f:if>
    <f:if condition="{host.sizeSqm}"><div><dt>Größe</dt><dd>{host.sizeSqm} m²</dd></div></f:if>
  </dl>
  <f:if condition="{host.priceInfo}"><p>{host.priceInfo}</p></f:if>
  <f:if condition="{host.seasonInfo}"><p>{host.seasonInfo}</p></f:if>
  <f:if condition="{host.capacityNote}"><p>{host.capacityNote}</p></f:if>
</section>
</html>
