<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:g="http://typo3.org/ns/D3Werk/Gastgeber/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="topFeatures" value="{g:categoryGroup(categories: host.categories, mode: 'topFeatures', limit: settings.topFeaturesLimit)}" />
<f:if condition="{topFeatures}">
    <ul class="gastgeber-top-features">
        <f:for each="{topFeatures}" as="item">
            <li><f:render partial="Category/Icon" arguments="{presentation: item.presentation}" /><span>{item.presentation.title}</span></li>
        </f:for>
    </ul>
</f:if>
</html>
